
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>divi</title>
</head>
<body>
    <div>
        <form action="Division" method="post">

            <label> valor 1 </label> <br />
            <input type="text" name="numero1" /> <br />

            <label> valor 2 </label> <br />
            <input type="text" name="numero2" /> <br />

            <input type="submit" values="Dividir" />

        </form>
    </div>
</body>
</html>
