
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Division</title>
</head>
<body>
    <div>
        <h1>
            La Division de @Model.variableA
            entre @Model.variableB <br />
            es  @Model.resultado
        </h1>
    </div>
</body>
</html>
