
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Multi</title>
</head>
<body>
    <div>
        <form action="Multiplicar" method="post">

            <label> valor 1 </label> <br />
            <input type="text" name="num1" /> <br />

            <label> valor 2 </label> <br />
            <input type="text" name="num2" /> <br />

            <input type="submit" values="multiplica" />

        </form>
    </div>
</body>
</html>
