
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Multiplicar</title>
 </head>
    <body>
        <div>
            <h1>
                La multiplicacion entre @Model.variableA
                por @Model.variableB <br />
                es  @Model.resultado
            </h1>
        </div>
    </body>
</html>
