
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Resta</title>
</head>
<body>
    <div> 
        <h1>
            La resta entre @Model.variableA
            Menos @Model.variableB <br />
            es  @Model.resultado
        </h1>
    </div>
</body>
</html>
